.root {
    -fx-background-color: white;
    -fx-font-family: "Arial"
}

.container {
    -fx-background-color: white;
    -fx-padding: 15px;
    -fx-spacing: 20px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-weight: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 20, 0.2, 0, 5);
}

#titleLabel {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-alignment: center;
    -fx-font-family: "Arial"
}

.input-group {
    -fx-background-color: white;

    -fx-padding: 20px;

    -fx-spacing: 15px;
    -fx-font-family: "Arial"
}

.label {
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
}


.text-field,
.password-field {
    -fx-background-color: #f8f8f8;
    -fx-border-color: transparent;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 10px;
    -fx-font-size: 14px;
    -fx-font-family: "Arial"
}

.choice-box {
    -fx-background-color: #f8f8f8;
    -fx-border-color: transparent;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-font-family: "Arial"
}

.toggle-icon {
    -fx-cursor: hand;
    -fx-opacity: 0.7;
}

.button {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 5;
    -fx-font-family: "Arial"
}

