/* Base styles */
.root {
    -fx-background-color: #121212;
    -fx-font-family: "Arial";
}

/* Labels */
.label {
    -fx-text-fill: #E2E8F0;
}

/* Card and Panel Styles */
#profileCard {
    -fx-background-color: #2D3748;
    -fx-background-radius: 15;
    -fx-border-color: #4C566A;
    -fx-border-radius: 15;
    -fx-border-weight: 1;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0, 0, 5);
}

#infoPanel {
    -fx-background-color: #1E1E1E;
    -fx-background-radius: 15;
    -fx-border-color: #4C566A;
    -fx-border-radius: 15;
    -fx-border-weight: 1;
    -fx-padding: 20;
    -fx-spacing: 15;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 5, 0, 0, 2);
}

.subInfoFrame {
    -fx-background-color: #2D3748;
    -fx-background-radius: 15;
    -fx-border-color: #4C566A;
    -fx-border-radius: 15;
    -fx-border-weight: 0.5;
}

.infoBox {
    -fx-background-color: #1E293B;
    -fx-background-radius: 10;
    -fx-border-color: #4C566A;
    -fx-border-radius: 10;
    -fx-border-width: 0.5;
}

/* Header and Title Styles */
#titleHeader, #profileHeader {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #E2E8F0;
    -fx-font-family: "Arial";
}

#titleHeader {
    -fx-text-fill: black;
}

/* Label Styles */
.label-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #E2E8F0;
    -fx-font-family: "Arial";
}

.label-value {
    -fx-font-size: 14px;
    -fx-text-fill: #E2E8F0;
    -fx-font-family: "Arial";
}

.label-cardInfo {
    -fx-font-size: 11px;
    -fx-text-fill: #E2E8F0;
    -fx-font-family: "Arial";
}

.infoBoxValue {
    -fx-font-size: 13px;
    -fx-text-fill: #E2E8F0;
    -fx-font-family: "Arial";
}

/* Profile Specific Styles */
#profileName {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #60A5FA;
    -fx-font-family: "Arial";
}

#statusOnline {
    -fx-font-size: 11px;
    -fx-text-fill: #4FD1C5;
    -fx-font-style: italic;
    -fx-font-family: "Arial";
}

.profileIcon {
    -fx-fit-width: 23;
    -fx-fit-height: 23;
}

/* Footer Styles */
#footerLabel {
    -fx-font-size: 10px;
    -fx-text-fill: #E2E8F0;
    -fx-font-family: "Arial";
    -fx-opacity: 0.3;
}

/* Button Styles */
.button {
    -fx-font-size: 14px;
    -fx-background-color: #2D3748;
    -fx-text-fill: #E2E8F0;
    -fx-border-color: #4A5568;
    -fx-border-width: 0.5px;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
}

.button:hover {
    -fx-background-color: #4A5568;
}

.button:pressed {
    -fx-background-color: #60A5FA;
}

/* Lines */
Line {
    -fx-stroke: #4C566A;
}